Source: octohub
Section: python
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-exec,
 dh-python,
 python3 (>= 3.9),
 python3-all (>= 3.9),
 python3-setuptools,
 python3-requests,
Standards-Version: 4.0.0

Package: octohub
Architecture: any
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3 (>= 3.9),
 python3-requests,
Suggests:
 python3-profiler,
 jq,
Description: OctoHub: Low level Python and CLI interface to GitHub
